%div{:class=>"navbar navbar-fixed-top"}
  .navbar-inner
    .container-fluid
      %a.brand{:href => "/"} Playlist
      %ul{:class=>"nav controls"}
        %li
        %li.divider-vertical
        %li
          %a{:class=>"title"}
        %li.divider-vertical

      %ul{:class=>"pull-right nav"}
        %li{:class=>"dropdown"}
          %a{:class => "dropdown-toggle"}
            %i(class="icon-list")
            %b.caret
          %ul.dropdown-menu
            - @lists.each do |list|
              %li
                %a{:data=>{:target=>"list_#{list[:id]}"}} 
                  =list[:name]
            %li.divider
            %li
              = link_to "Sign Out", "/sign_out"
.player
  %audio{:id=>"player",:autoplay=>"true",:controls=>"controls"}
    %source{:type=>"audio/ogg",:src=>"assets/audiotest.ogg"}
    %p Browser not supported so get a new one hippy!
  %div{:id=>"controls"}
    %button{:id=>"play",:title=>"Play",:accesskey=>"P"}
    %button{:id=>"previous",:title=>"Previous"}
    %button{:id=>"next",:title=>"Next"}
    / add slider
    %span{:id=>"timer"}
      %span{:id=>"currentTime"}
      %span{:id=>"duration"}
    %button{:id=>"volumeDown",:title=>"-"}
    %button{:id=>"volumeUp",:title=>"+"}


  %table{:class=>"table table-condensed songs"}
    %thead
      %th Title
      %th Artist
      %th Genre
    %tbody
      - @songs.each do |song|
        %tr{:class=>"song", :data=>{:target=>song[:id]}}
          %td
            = song[:title]
          %td
            = song[:artist]
          %td
            = song[:genre]